/*
A** on Ice Skates Color Pallet
swan:       #EDF0F0   accent: #CBCDCD
a**:        #6CDFEA   accent: #51BCC7
a shade of: #DEE3E3   accent: #BAC0C0
sh:         #F2FEFF   accent: #D0DDDE

credit: http://www.colourlovers.com/palette/843155/Ass_on_Ice_Skates;
*/
html, body {
  background-color: #DEE3E3;
  height: 100%;
  margin: 0;
}

.wrapper {
  margin: 35px auto;
  background-color: #F2FEFF;
  width:  90%;
  height: 100%;
  margin-top: 100px;
}

#nav {
  position: fixed;
  z-index: 500;
  padding: 5px;
  height: 50px;
  background-color: #F2FEFF;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #D0DDDE;
  width: 100%;
  top: 0;
}


#userlogin {
  float: right;
  margin-right: 100px;
}

#userlogin li {
  display: inline;
  margin-right: 20px;
}

#most-recent-posts {
  border-top: 3px solid #6CDFEA;
  position: absolute;
  bottom: 0; left:0; right:0;
  width: 80%;
  padding: 0px 50px;
  margin: 0px auto;
}

#most-recent-posts a {

  text-decoration:none;
  margin: 5px;
}
#most-recent-posts a:hover {

  text-decoration:none;
  margin: 5px;
}

#most-recent-posts p {
  font-size: .8em;
  padding: 0px 20px;
  margin: 3px;
}

#most-recent-posts h3 {
  margin: 5px;
}
.survey-list {
  margin: 0 auto;
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
}
#your-surveys {

}

#others-surveys {

}

a {
  color: #6CDFEA;
  text-decoration: none;
  font-size: 1.5em;
/*  margin-left: 100px;
*/}

a:hover {
  color: #51BCC7;
}

#nav ul {
  float: right;
}

#nav li a {
  font-size: 25px;
  font-weight: bold;
  margin-left: 0px;
  margin-top: 10px;
}

#brand {
  float: left;
  margin: 5px;
  margin-left: 90px;
  font-size: 30px;
  font-weight: bold;
}

.answer {
  width: 400px;
}

.container {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
}

.login-box {
  padding: 30px;
}

.index-button {
  position: relative;
  left:0; right:0;
  margin:50px auto;
  padding: 10px;
  text-align: center;
  width: 300px;
  border-radius: 5px;
}

.signin-box, .signup-box {
  width: 200px;
  position: fixed;
  right: 0;
  top: 70px;
  padding: 20px 30px 15px 30px;
  display: none;
  background-color: #DEE3E3;
  float: right;
  margin-right: 100px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #D0DDDE;
  border-top-color: #EDF0F0;
  border-bottom-color: #BAC0C0;
  border-bottom-width: 2px;
}


.signin-box input, .signup-box input {
  border-style: none;
  font-weight: bold;
  color: #999999;
}

input[type="email"] {
  height: 25px;
  width: 110%;
  margin-left: -10px;
}

input[type="name"] {
  height: 25px;
  width: 110%;
  margin-left: -10px;
}

input[type="password"] {
  height: 25px;
  width: 110%;
  margin-left: -10px;
}

.signin-box input[type="submit"], .signup-box input[type="submit"]{
  float: right;
  color: #EDF0F0;
  padding: 10px;
}

.signin-box input[type="submit"]:hover, .signup-box input[type="submit"]:hover{
  float: right;
  background-color: #999;
  padding: 10px;
}

form {
  display: block;
}

input {
  margin: 5px;
  border-radius: 5px;
}

input[type="text"] {
  float: left;
  border-style: none;
  border-style: solid;
  border-width: 3px;
  border-color: #D0DDDE;
  color: #999;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  width: 600px;
  border-radius: 5px;
  margin-top: 20px;
}

textarea[name="survey[description]"] {
  padding-top: 10px;
  border-style: none;
  border-style: solid;
  border-width: 3px;
  border-color: #D0DDDE;
  color: #999;
  font-size: 20px;
  margin-left: 5px;
  resize: none;
  font-weight: bold;
  color: #999999;
  height: 200px;
  width: 600px;
  border-radius: 5px;
  margin-top: 20px;
}

.remove-answer{
  line-height: 0;
  font-size: 50px;
  color: #c6623a;
  margin-top: 20px;
  float: left;
  border-style: none;
  border-style: solid;
  border-width: 3px;
  margin-left: 5px;
  width: 46px;
  height: 46px;
  border-radius: 5px;
  background-color: #EC845C;
  border-color: #c6623a;
}

.remove-answer:hover {
  background-color: #e47855;
  border-color: #c56a43; 
  color: #c56a43;
}

.add-answer:hover {
  background-color: #559674;
  border-color: #3d7554; 
  color: #3d7554;
}

#add-question {
  line-height: 0;
  font-size: 30px;
  color: #bfa521;
  margin-top: 10px;
  padding-top: 10px;
  border-style: none;
  border-style: solid;
  border-color: #999;
  border-width: 3px;
  margin-left: 5px;
  width: 608px;
  height: 50px;
  border-radius: 5px;
  background-color: #edd612;
  border-color: #cdb90e;
}

#save-survey{
  line-height: 0;
  font-size: 30px;
  color: #51BCC7;
  margin-top: 10px;
  padding-top: 10px;
  border-style: none;
  border-style: solid;
  border-color: #999;
  border-width: 3px;
  margin-left: 5px;
  width: 608px;
  height: 50px;
  border-radius: 5px;
  background-color: #6CDFEA;
  border-color: #51BCC7;

}

#save-survey:hover{
  background-color: #1a9ba2;
  border-color: #17878c;
  color: #17878c;
}


#add-question:hover {
  background-color: #dbbe27;
  border-color: #bfa521;
}

.add-answer {
  line-height: 0;
  font-size: 30px;
  color: #70ae8d;
  margin-top: 10px;
  padding-top: 10px;
  border-style: none;
  border-style: solid;
  border-color: #999;
  border-width: 3px;
  margin-left: 5px;
  width: 608px;
  height: 50px;
  border-radius: 5px;
  background-color: #91D0B1;
  border-color: #70ae8d;
}

.answer {
  width: 100%;
  height: 40px;
}

