<!-- <head>
 <link rel="stylesheet" href="../../../public/css/application.css">
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../../../public/js/survey_form.js"></script>
 
</head> -->

<div class="container">
    <form class="survey-details">
      <input type="text" placeholder="Survey Name" name="survey[title]">
      <textarea placeholder="Description" name="survey[description]"></textarea>
    </form>

    <form class="question-details" id="question1">
      <input type="text" placeholder="Question" name="question[content]">
        <div class="answer">
          <input type="text" placeholder="Answer"   name="question[answers][]"> <button type="button" class="remove-answer"> - </button>
        </div>
        <div class="answer">
          <input type="text" placeholder="Answer"   name="question[answers][]"> <button type="button" class="remove-answer"> - </button>
        </div>
          <input type="hidden" name="question_id" value="1">
          <button type="button" class="add-answer"> Add an Answer </button>
    </form>

  <button type="button" id="add-question"> Add a Question </button>
  <button type="button" id="save-survey"> Complete and View Survey </button>
</div>
