



<div class="container">
  <section id="most-recent-posts">

    <h2>Five Most Recent Surveys</h2>
    <ol>
    <% @five_most_recent_surveys.each do |survey| %>
      <li><h3><%= survey.title %></h3>
          <p><%= survey.description %></p></li>
    <% end %>
    </ol>
  </section>
</div>



